.items li:nth-child(6) {
    border-left: 4px solid #fff;
}
.items li:nth-child(1) {
    border-left: none;
}
#interface{
    height: 100vh;
    width: 100%;
    background: url(../images/clouds.jpg);
    background-size: cover;
    background-position: center;
}
.i-name{
    color: #c3bebe;
}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    justify-content: space-around;
    align-items:center;
}
.detail {
    background-color: #fff;
    max-width: 60rem;
    min-height: 10rem;
    margin: auto;
    margin-top: 1rem;
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.4) 10%, transparent 50%, rgba(255, 255, 255, 0.5) 100%);
    text-align: center;
    font-size: 24px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); /* Box shadow */

    /* Floating animation */
    /*animation: float 4s ease-in-out infinite;*/
}

@keyframes float {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -20px); /* Adjust the distance and direction */
    }
}

.details h1 {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

p {
    margin:0;
}

strong {
    font-weight: bold;
}